.middle-section-1-btn {
    background: linear-gradient(to bottom, #ffe9ed, white);
    color: black;
    border: 1px solid black;
    padding: 8px 10px;
    width: 150px;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
  }